# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

some of the key takeaways in the notebook:

<ul>
  <li>Data science languages</li>
  <li>Data science tools </li>
    
</ul>

## Data science languages

some popular languages of Data science:

<ol>
  
  <li>R</li>
  
  <li>python</li>
  <li>ruby</li>
</ol>

## Data science libraries:

Some of the commonly used libraries used by Data Scientists include:

<ol>
  
  <li>numpy</li>
  <li>pandas</li>
  <li>sklearn</li>
  <li>seaborn</li>
  <li>keras</li>
    
</ol>

## Data Science tools

Data science uses various tools:

<ol>
  
  <li>Jupyter</li>
  <li>spyder</li>
  <li>matlab</li>
  <li>Tableau</li>
  <li>keras</li>  
  <li>PowerBI</li>
  <li>SPSS</li>
  <li>KNIME</li>
    
</ol>

## Introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# to multiply
3*5

15

In [6]:
# to add integers
2+4

6

In [9]:
#code to convert minutes to hours
#This will convert 200 minutes to hours by diving by 60
min=int(input("Enter time in minutes ")) # enter 200
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes 200
Hours= 3
Minutes= 20

## Author

## DR K DHANA SREE DEVI